In [84]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [85]:
df=pd.read_csv("Loanpay.csv")

In [86]:
df.head()

   initial payment  last payment  credit score  house number    sum result
0              201         10018           250          3046  13515    yes
1              205         10016           395          3044  13660    yes
2              257         10129           109          3251  13746    yes
3              246         10064           324          3137  13771    yes
4              117         10115           496          3094  13822    yes

In [87]:
df.shape

(1000, 6)

In [88]:
df.pop("sum")

0      13515
1      13660
2      13746
3      13771
4      13822
       ...
995    20533
996    20547
997    20561
998    20700
999    20737
Name: sum, Length: 1000, dtype: int64

In [89]:
df.head()

   initial payment  last payment  credit score  house number result
0              201         10018           250          3046    yes
1              205         10016           395          3044    yes
2              257         10129           109          3251    yes
3              246         10064           324          3137    yes
4              117         10115           496          3094    yes

In [90]:
df.describe

<bound method NDFrame.describe of      initial payment  last payment  credit score  house number result
0                201         10018           250          3046    yes
1                205         10016           395          3044    yes
2                257         10129           109          3251    yes
3                246         10064           324          3137    yes
4                117         10115           496          3094    yes
..               ...           ...           ...           ...    ...
995              413         14914           523          4683     No
996              359         14423           927          4838     No
997              316         14872           613          4760     No
998              305         14926           897          4572     No
999              168         14798           834          4937     No

[1000 rows x 5 columns]>

In [91]:
X= df[['initial payment','last payment','credit score','house number']]
y=df['result']

In [92]:
print(X,y)

     initial payment  last payment  credit score  house number
0                201         10018           250          3046
1                205         10016           395          3044
2                257         10129           109          3251
3                246         10064           324          3137
4                117         10115           496          3094
..               ...           ...           ...           ...
995              413         14914           523          4683
996              359         14423           927          4838
997              316         14872           613          4760
998              305         14926           897          4572
999              168         14798           834          4937

[1000 rows x 4 columns] 0      yes
1      yes
2      yes
3      yes
4      yes
      ...
995     No
996     No
997     No
998     No
999     No
Name: result, Length: 1000, dtype: object

In [93]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=100)

In [94]:
print(X_train,y_train,X_test,y_test)

     initial payment  last payment  credit score  house number
761              146         13258           465          4809
328              253         10684           662          4882
943              241         14648           111          4753
552              424         12727           113          4344
994              301         14852           812          4564
..               ...           ...           ...           ...
855              351         13910           500          4388
871              171         14659           390          3981
835              310         13463           964          4274
792              242         14067           149          4368
520              160         12446           850          4014

[600 rows x 4 columns] 761     No
328    yes
943     No
552     No
994     No
      ...
855     No
871     No
835     No
792     No
520     No
Name: result, Length: 600, dtype: object      initial payment  last payment  credit score  house number
249              104         12125           700          3138
353              351         11140           965          4127
537              204         13439           191          3720
424              276         12290           478          3923
564              326         13167           381          3826
..               ...           ...           ...           ...
88               304         11499           146          3187
500              367         12339           592          4085
620              365         13241           748          3588
462              363         12266           885          3637
127              179         10671           217          4313

[400 rows x 4 columns] 249    yes
353    yes
537     No
424    yes
564     No
      ...
88     yes
500     No
620     No
462    yes
127    yes
Name: result, Length: 400, dtype: object

In [95]:
from sklearn.tree import DecisionTreeClassifier

# Assuming X_train and y_train are already defined and contain the correct data
data = DecisionTreeClassifier(criterion="entropy", max_depth=10, min_samples_leaf=5, random_state=100)
data.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=10, min_samples_leaf=5,
                       random_state=100)

In [96]:
y_pred=data.predict(X_test)
print(y_pred)

['yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes'
 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No'
 'No' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'yes'
 'No' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'No' 'No' 'yes' 'No'
 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'No' 'yes' 'No'
 'yes' 'yes' 'yes' 'No' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No'
 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'No' 'No' 'yes' 'No' 'yes'
 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'No'
 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'yes' 'yes' 'No' 'No' 'yes'
 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'No' 'No'
 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'yes'
 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'No' 'No'
 'No' 'yes' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'yes'
 'No' 'No' 'No' 'yes' 'yes' 'No' 'No' 'yes' 'yes' 'No' 'No' 'No' 'yes'
 'yes' 'No' 'No' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'yes'
 'No' 'yes' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No' 'yes' 'No'
 'yes' 'yes' 'No' 'yes' 'No' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'yes'
 'No' 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'No' 'No' 'No' 'No' 'No' 'No'
 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes'
 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'No' 'yes' 'No' 'No' 'No' 'yes'
 'yes' 'No' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'No'
 'yes' 'yes' 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'yes'
 'No' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No'
 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'No' 'yes' 'yes' 'No'
 'yes' 'No' 'No' 'yes' 'yes' 'No' 'No' 'No' 'No' 'yes' 'yes' 'No' 'No'
 'yes' 'No' 'No' 'yes' 'No' 'No' 'yes' 'No' 'No' 'yes' 'yes' 'No' 'No'
 'yes' 'No' 'yes' 'yes' 'No' 'No' 'No' 'yes' 'yes' 'No' 'No' 'No' 'No'
 'yes' 'yes' 'yes' 'yes' 'No' 'yes' 'yes' 'yes' 'yes' 'No' 'No' 'yes' 'No'
 'No' 'No' 'yes' 'yes' 'No' 'yes' 'No' 'yes' 'yes' 'No' 'yes' 'yes']

In [97]:
print("accuracy is:",accuracy_score(y_test,y_pred)*100)

accuracy is: 95.0